@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(40, 40, 40);
}

.container {
  width: 90%;
  min-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.kanban-head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: sans-serif;
}

.kanban-head-title {
  font-size: 2.5rem;
  color: #e4e4e4;
  padding: 0.8rem;
  border-radius: 0.5rem;
  margin: 0.3rem;
}

.kanban-table {
  text-align: center;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: sans-serif;
  margin-bottom: 2rem;
}

.kanban-block {
  text-align: center;
  padding: 0.6rem;
  margin: 0.5rem;
  width: 100%;
  height: auto;
  min-height: 4.5rem;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 2px 4px rgba(255, 255, 255, 0.1);
}

.kanban-form {
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #018b01;
  align-items: center;
  font-family: sans-serif;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 4px rgba(255, 255, 255, 0.1);
}

.kanban-form-title {
  text-align: center;
  font-size: 1.5rem;
  color: #e4e4e4;
  border-radius: 0.5rem;
}

.container-inputs {
 
  width: 80%;
  display: flex;
  flex-direction: column;
}

.input-text {
  height: 1.5rem;
  border-radius: 5px;
  border: 0;
  padding-left: 10px;
  margin: 0.3rem;
}

.textarea-text {
  height: auto;
  border-radius: 5px;
  border: 0;
  padding-left: 10px;
}

.btn-crear,
.btn-editar,
.btn-borrar {
  width: 30%;
  background: #2f17d1;
  color: #e4e4e4;
  border-radius: 5px;
  border: 0;
  outline: none;
  font-size: 1.1rem;
  margin: 0.3rem;
  transition: 0.5s;
}

.btn-crear:hover,
.btn-editar:hover,
.btn-borrar:hover {
  background: #1c0d7b;
  transition: 0.5s;
  box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.1);
}

 
#pendientes,
#lead,
#qualified,
#Proposal,
#Negotiation,
#Closed,
#Lost {
  margin: 30 auto; /* Centra horizontalmente la tabla */
  height: fit-content;
}

#pendientes {
  background-color: #1cc88a;
  font-size: 0.9rem;
}

#lead {
  background-color: #1cc88a;
  font-size: 0.9rem;
}

#qualified {
  background-color: #36b9cc;
  font-size: 0.9rem;
}

#Proposal {
  width: 100%;
  background-color: #4e73df;
  font-size: 0.9rem;
}

#Negotiation {
  background-color: #f6c23e;
  font-size: 0.9rem;
}

#Closed {
  background-color: #858796;
  font-size: 0.9rem;
}

#Lost {
  background-color: #e74a3b;
  font-size: 0.9rem;
}

.tarea {
  text-align: start;
  background-color: white;
  margin: 0.2rem 0rem 0.3rem 0rem;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  padding: 0.5rem 0.2rem 0.5rem 2rem;
}

/* Estilos responsivos */
@media (min-width: 1100px) {
  .kanban-table {
    flex-direction: row;
  }

  .kanban-block {
    width: 30.5%;
  }
}
